
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Siparis.MvcWebUI.Models.EntityModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ekleme</title>
</head>
<body>
    <div class="container-fluid">

        @using (@Html.BeginForm("MusteriEkleme", "Musteri", FormMethod.Post))
        {

            <div class="form-group">
                <label for="Ad">Müşteri Adı</label>
                <input type="text" id="Ad" name="Ad" class="form-control" placeholder="Müşteri Adını giriniz" />
            </div>

            <div class="form-group">
                <label for="Soyad">Müşteri Soyadı</label>
                <input type="text" id="Soyad" name="Soyad" class="form-control" placeholder="Müşteri Soyadını giriniz" />
            </div>

            <div class="form-group">
                <label for="TamAdres">Müşteri Tam Adres</label>
                <input type="text" id="TamAdres" name="TamAdres" class="form-control" placeholder="Tam Adrese giriniz" />
            </div>

            <div class="form-group">
                <label for="TelefonNumarasi">Müşteri Telefon Numarası</label>
                <input type="text" id="TelefonNumarasi" name="TelefonNumarasi" class="form-control" placeholder="Telefon Numarası giriniz" />
            </div>

            <button type="submit" class="btn btn-primary pull-right">Ekle</button>
        }

    </div>
</body>
</html>
