<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="‪C:\log\siparisLog.json" />
      <layout type="Siparis.Core.CrossCuttingCornces.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=DESKTOP-RR7TSTQ\SQLEXPRESS;Initial Catalog=_SiparisTakipDB;Integrated Security=True;" />
      <commandText value="INSERT INTO Siparis_Logs ([logDetail],[logLevel]) VALUES (@logDetail,@logLevel)" />
      <parameter>
        <parameterName value="@logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="Siparis.Core.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>    
      <parameter>
        <parameterName value="@logLevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
    </appender>
    <logger name="JsonFileLogger">
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </logger>
    <logger name="DatabaseLogger">
      <level value="All" />
      <appender-ref ref="SqlServerAppender" />
    </logger>
  </log4net>
</configuration>