
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnaSayfa</title>
</head>
<body>
    <div class="container-fluid"> 
        <div class="container">
            <h1 class="display-7" style="margin-top:50px;color:darkblue;">Yucesoy Siparis</h1>
            <hr class="my-5" />
            <h3 class="display-7" style="color:darkblue;">Siparis Yönetim Sistemimize Hos Geldiniz</h3>

            <div class="jumbotron" style="margin-top:40px;">
                <h4 class="options" style="color:darkblue;margin-left:15px;">Temel İşlem Seçeneklerimiz</h4>
                <hr class="my-5" />

                <ul>
                    <li>
                        <a class="AddCustomer" href="#" role="button">Yeni Müşteri oluşturma </a>
                    </li>

                    <li>
                        <a class="AddProduct" href="#" role="button">Yeni Ürün oluşturma</a>
                    </li>

                    <li>
                        <a class="TakeDelivery" href="#" role="button">Siparis alma</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
